<form method="POST" id="restore_form_all" action="/course/me">
  <div class="container mt-4">
    <div class="row d-flex w-50 ml-4 align-items-center mb-3">
      <div class="input-text">
        <input class="check_all" name="checkbox_delete_all" type="checkbox" >
        <h7 class="ml-1">Select All</h7>
      </div>
        
      <select name="action_user_want" class=" select_option_user custom-select w-50 ml-2 mr-2 h-3 " required>
        <option value="">-- Choose options --</option>
        <option action="restore" value="restore">Restore</option>
      </select>

      <button type="submit" class=" btn_action_user btn btn-primary h-3" disabled = "disabled">Action</button>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Numerical Order</th>
            <th scope="col">Name</th>
            <th scope="col">Desciptions</th>
            <th scope="col">Time delete</th>
            <th scope="col"></th>
            </tr>
        </thead>
    <tbody>
        <tr>
            {{#each course}}
            <td class=" ml-2 row">
              <input type="checkbox" value="{{this._id}}" name="checkbox_delete_all_sub">
              <div class="ml-1">{{sum @index 1}}</div>
            </td>
                <td>{{this.name}}</td>
                <td>{{this.desciptions}}</td>
                <td  class="with_50">{{this.deletedAt}}</td>
                <td class="with_25 btn_mycourse">
                    <a href="" data-id="{{this._id}}"  class="btn btn-link btn__custom btn-restore-course">Restore</a>
                    <button type="button" data-id="{{this._id}}"class="btn btn-primary " id="force_delete"data-toggle="modal" data-target="#exampleModal">
                        Force Delete 
                    </button>
                </td>
            </tr>
            {{/each}}
        <tr>
            
    </tbody>
    </table>
    <a href="/course/me" type="button" class="btn btn-outline-primary mb-4">Back</a>
  </div>
</form>


{{!-- modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Still delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This implementation cannot be restored !! Are you sure to remove this course?
      </div>
      <div class="modal-footer">
        <button id="btn-force-delete" data-id="{{this._id}}" type="button" class="btn btn-danger">Still Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{{!-- form submit add method --}}
<form method="POST" id="form_restore"></form>
<form method="POST" id="form_force_delete"></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const btnForceDelete = document.querySelector('#btn-force-delete')
        const btnRestore = $('.btn-restore-course')
        const formStore = document.getElementById('form_restore')
        const formForceDelete = document.querySelector('#form_force_delete')
        const checkAll = $('input[name="checkbox_delete_all"]')
        const checkAllCheckBoxSub = $('input[name="checkbox_delete_all_sub"]')
        const btnActionUserWant = $('.btn_action_user')
        const oaptionActionUser = document.querySelector('.select_option_user')

        btnRestore.click(function (e) {
            e.preventDefault()
            var idCourse = $(this).data('id')
            formStore.action = '/course/' + idCourse + '/restore?_method=PATCH'
            formStore.submit()
        })

        btnForceDelete.onclick =  function (event) {
            var btnGetDataId = $('#force_delete')
            var idCourse = $(btnGetDataId).data('id')
            formForceDelete.action = '/course/' + idCourse + '/forceDelete?_method=DELETE'
            formForceDelete.submit()
        } 

        // handle select 
        
        checkAll.change(function (event) {
          const isCheckAll = checkAll.prop('checked')
          checkAllCheckBoxSub.prop('checked', isCheckAll)
          // handle event onchang on sub select to disabled btn 
          handleActionUserWant()
        })
        // check checkbox sub has all checked
        checkAllCheckBoxSub.change(function (event) {
          const isCheckAll = $('input[name="checkbox_delete_all_sub"]').length 
                            - $('input[name="checkbox_delete_all_sub"]:checked').length == 0 ? true : false
          checkAll.prop('checked', isCheckAll)

          // handle event onchang on sub select to disabled btn 
          handleActionUserWant()
        })

        oaptionActionUser.onchange = handleActionUserWant

        function handleActionUserWant() {
          if( $('input[name="checkbox_delete_all_sub"]:checked').length > 0
                  && oaptionActionUser.value != ""  ) {
            btnActionUserWant.removeAttr('disabled')
          } else {
              btnActionUserWant.attr('disabled', 'true')
          }
          
        }  
    }
    ) 

</script>